/* main.css */
@import url('https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css');

body {
    font-family: 'Inter', sans-serif;
    transition: margin-top 0.3s ease-in-out;
}

#navbar {
    transition: opacity 0.3s ease-in-out;
}

.navbar-container {
    max-width: 1400px;
    margin: 0 auto;
}

/* Styles for the account dropdown menu */
.account-menu {
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    transform-origin: top right;
}

.menu-hidden {
    opacity: 0;
    transform: scale(0.95) translateY(-10px);
    pointer-events: none; /* Prevent interaction when hidden */
}

.menu-visible {
    opacity: 1;
    transform: scale(1) translateY(0);
    pointer-events: auto; /* Allow interaction when visible */
}
